{% extends "nav.html" %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }} - {{post.created_at}}</small>
<hr>
{{ post.body }}
<br>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}">Edit</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}
{% endif %}

<br>
<a href='{% url 'home' %}'>back</a>

<h2>Comments...</h2>
{% if not post.comments.all %}
    No comments yet... <a href="{% url 'createcomment' post.pk %}">Add comment</a>
{% else %}
    
    {% for comment in post.comments.all %}
        {{ comment.name }}
        {{ comment.date_added }}
        <br>
        {{ comment.body }}
    {% endfor %}
    <a href="{% url 'createcomment' post.pk %}">Add comment</a>
{% endif %}

{% endblock %}
